<div>
  <h1>Generador de reglas</h1>
  <form [formGroup]="ruleForm" class="form">
    <div class="container text-center">
      <div class="row">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Ticket Number</mat-label>
          <input formControlName="ticketNumber" matInput required autocomplete="off">
          <mat-error *ngIf="ruleForm.get('ticketNumber')?.errors?.['required']">El campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Copay</mat-label>
          <input formControlName="copay" matInput autocomplete="off">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill" class="col">
          <mat-label>Coins</mat-label>
          <input formControlName="coins" matInput autocomplete="off">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill" class="col">
          <mat-label>STC</mat-label>
          <input formControlName="stc" matInput autocomplete="off">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-radio-group formControlName="ded">
          <mat-radio-button value="true">Ded Applies </mat-radio-button>
          <mat-radio-button value="false">Ded Not Applies </mat-radio-button>
          <mat-radio-button value="">Ded Doesn't Matter </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </form>
  <div class="actions">
    <div>
      <button (click)="generateTest()" mat-raised-button color="primary">Generar Test</button>
    </div>
    <div>
      <button (click)="generateRule()" mat-raised-button color="primary">Generar Regla</button>
    </div>
  </div>
  <div>
    <pre>{{test}}</pre>
    <pre>{{rule}}</pre>
  </div>
</div>
