.form{
  width: 1000px;
}
.formContainter{
  display: flex;
  width: 100%;
  justify-content: center;
}
.actions{
  display: flex;
  justify-content: center;
}
.buttonContainer{
  margin: 10px;
}
.codeGenerated{
  display: flex;
  justify-content: center;
  pre{
    margin: 30px;
  }
}
.ded{
  margin-bottom: 12px;
}
