<div>
  <div class="formContainter">

    <form [formGroup]="ruleForm" class="form">

      <div class="container text-center">
        <h1>Generador de reglas</h1>
        <div class="row">
          <mat-form-field appearance="fill" class="col">
            <mat-label>Ticket Number</mat-label>
            <input formControlName="ticketNumber" matInput required autocomplete="off">
            <mat-error *ngIf="ruleForm.get('ticketNumber')?.errors?.['required']">El campo es requerido</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Copay</mat-label>
            <input formControlName="copay" matInput autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Coins</mat-label>
            <input formControlName="coins" matInput autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>STC</mat-label>
            <input formControlName="stc" matInput autocomplete="off">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-radio-group formControlName="ded" class="row ded">
            <mat-radio-button value="true" class="col">Ded Applies</mat-radio-button>
            <mat-radio-button value="false" class="col">Ded Not Applies</mat-radio-button>
            <mat-radio-button value="" class="col" >Ded Doesn't Matter</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="col">
            <mat-label>Rule Name</mat-label>
            <input formControlName="ruleName" matInput autocomplete="off">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Cust Abbr</mat-label>
            <input formControlName="custAbbr" matInput autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Payer Code / Payer ID</mat-label>
            <input formControlName="payerId" matInput autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>RECID / Reco Payer ID</mat-label>
            <input formControlName="recoPayerId" matInput autocomplete="off">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>revCode / revenue code</mat-label>
            <input formControlName="revCode" matInput autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>InNetworkInd</mat-label>
            <input formControlName="inNetworkInd" matInput autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Group Number</mat-label>
            <input formControlName="groupNum" matInput autocomplete="off">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="col-6">
            <mat-label>Plan Description</mat-label>
            <input formControlName="planDesc" matInput autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-6">
            <mat-label>Message</mat-label>
            <input formControlName="message" matInput autocomplete="off">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Provider Type</mat-label>
            <input formControlName="providerType" matInput autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Provider Id</mat-label>
            <input formControlName="providerId" matInput autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Provider Code</mat-label>
            <input formControlName="providerCode" matInput autocomplete="off">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Procedure Code</mat-label>
            <input formControlName="procedureCode" matInput autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Medical Service</mat-label>
            <input formControlName="medicalService" matInput autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Member Number</mat-label>
            <input formControlName="memberNum" matInput autocomplete="off">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="buttonContainer">
      <button (click)="generateTest()" mat-raised-button color="primary">Generar Test</button>
    </div>
    <div class="buttonContainer">
      <button (click)="generateRule()" mat-raised-button color="primary">Generar Regla</button>
    </div>
    <div class="buttonContainer">
      <button (click)="clearForm()" mat-raised-button color="primary">Reset</button>
    </div>
    <div class="buttonContainer">
      <button (click)="testData()" mat-raised-button color="primary">Datos de Prueba</button>
    </div>
  </div>
  <div class="codeGenerated">
    <pre>{{rule}}</pre>
    <pre>{{test}}</pre>
  </div>
</div>
